################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/wordfind/bin/Debug/net8.0
/wordfind/obj
